body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%
}

body {
  margin-right: auto;
  margin-left: auto;
  background-color: #cad6ec;
  font-size: 16px;
  padding: 0 0 0 0;
  font-family: 'Vollkorn', serif;
}

article {
  padding-top: 15px;
  margin-left: 100px;
  padding: 5px;
}

h2 {
  font-family: 'Unica One', cursive;
  font-weight: bold;
  color: #A03E04;
}

.project-list {
  display: flex;
  height: 100vh;
  padding-top: 12vh;
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(41, 56, 83, .9);
  width: 100px;
  position: fixed;
  list-style-type: none;
  flex-direction: column;
  margin-top: 0px;
  top: 0;
  border: rgba(0, 0, 0, .9) 1px solid;
  text-align: center;
  transition: all .8s ease-in-out;
}

.revealed {
  left: 0px;
}

.hidden {
  left: -85px;
}

.Sidebar {
  margin: 0;
  width: 30px;
  height: 30px;
  padding: 0 0 5px 0;
  border-radius: 1000px;
  position: fixed;
  top: 45vh;
  background-color: rgba(41, 56, 83, 1);
  font-size: 20px;
  transition: all .8s ease-in-out;
  z-index: 10;
}

.Hider {
  left: 85px;
}

.Revealer {
  left: 0;
  transform: rotate(180deg)
}

.ProjectsPage, .ProjectPage {
  transition: all .8s ease-in-out;
  margin-right: 5px;
}

.sidebar-open {
  margin-left: 105px;
}

.sidebar-close {
  margin-left: 30px;
}

.project-list-item {
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgb(216, 169, 49);
  text-shadow: black 1px 1px 4px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(33, 62, 124, .9);
  color: rgb(216, 169, 49);
  height: 30px;
  padding-top: 0;
}

.nav-ul {
  list-style: none;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 10px;
}

.nav-item {
  margin-left: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(33, 62, 124, .9);
  padding-top: 5px;
  text-align: right;
  padding-right: 10px;
  color: rgb(216, 169, 49);
  z-index: 10;
}

.container {
  position: relative;
  min-height: 100%;
  padding: 0 0 0 0 ;
  margin: 0 0 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-title {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 0;
}

.screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 10px;
}

.content {
  text-align: left;
  margin-bottom: 40px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

button {
  border: 1px solid rgba(0, 0, 0, .8);
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(41, 56, 83, .8);
  color: rgb(216, 169, 49);
  text-shadow: black 1px 1px 4px;
}

.link-buttons {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  margin-left: 10px;
}

button, .project-list-item, .nav-item, .thumbnail-image, .thumbnail-text, .contact-info, .contact-link {
  cursor: pointer;
}

.project-default {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0 ;
  margin-top: 50px;
  flex-wrap: wrap;
}

.thumbnail-image {
  border-radius: 10px;
  max-width: 90%;
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail-text {
  margin: 0 0 5px 0 ;
  text-align: center;
  color: rgb(216, 169, 49);
  text-shadow: black 1px 1px 4px;
}

.thumbnail-summary {
  text-align: left;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(216, 169, 49);
  text-shadow: 1px 1px 2px black;
}

.thumbnail-summary:hover {
  text-shadow: 1px 1px 2px black;
}

.project-thumbnail {
  width: 90%;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: rgba(41, 56, 83, .9);
  border: 1px solid black;
  box-shadow: 2px 2px 8px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.ProjectPage img {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: rgba(41, 56, 83, .9);
  border: 1px solid black;
  box-shadow: 2px 2px 8px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
  background-color: black;
  padding: 1px;
}

.project-thumbnail:hover {
  transform: scale(1.02);
}

.hero {
  width: 40vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1000px;
  border: solid black .5px;
  box-shadow: 5px 5px 20px;
}

.intro {
  font-family: 'Unica One', cursive;
  text-align: center;
  margin-right:10vw;
  margin-left:10vw;
  margin-top: 8vh;
  margin-bottom: 10px;
  color: #A03E04;
  font-size: 28px;
  letter-spacing: .9px;
}

.job {
  font-family: 'Unica One', cursive;
  text-align: center;
  margin-right:10vw;
  margin-left:10vw;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #A03E04;
  font-size: 28px;
  letter-spacing: .9px;
}

.about-me-link, .project-link {
  margin-top: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
}

.about {
  margin-top: 10vh;
  margin-left: 10px;
  margin-right: 10px;
  color: #A03E04;
  font-size: 16px;
  letter-spacing: .9px;
}


a {
  text-decoration: none;
  color: rgb(116, 63, 4);
}

a:hover {
  text-shadow: 1px 1px 1px grey;
}

.Header a, .Footer a {
  color: rgb(216, 169, 49);
  text-shadow: black 1px 1px 4px;
}

.Header a:hover, .Footer a:hover {
  text-shadow: grey 1px 1px 4px;
}

.navi-tem:hover, .project-list-item:hover {
  text-shadow: grey 1px 1px 4px;
}

.contact-title {
  margin-top: 15vh;
  
}

.contact-list {
  list-style: none;
  padding: 0 0 0 0;
}

.contact-info {
  margin-top: 10vh;
  font-size: 18px;
}

.Landing {
  margin-bottom: 50px;
}


@media screen and (min-width: 505px) {
  body {
    font-size: 24px;
  }

  h2 {
    font-size: 48px;
  }

  nav, footer {
    height: 50px;
    padding-top: 8px;
  }

  article {
    margin-left: 200px;
    padding: 20px;
  }

  p {
    margin-top: 40px;
  }

  .intro, .job {
    font-size: 56px;
  }

  .job {
    margin-top: 20px;
  }

  .screenshot {
    width: 80%;
  }

  button {
    margin-top: 40px;
    font-size: 28px;
    transition: all .2s ease-in-out;
  }

  .button:hover {
    transform: scale(1.05);
  }

  .project-list {
    width: 200px;
  }

  .hidden {
    left: -180px;
  }

  .Sidebar {
    padding: 0 0 6px 0;
    width: 40px;
    height: 40px;
    font-size: 26px;
  }

  .Hider {
    left: 180px;
  }

  .sidebar-open {
    margin-left: 200px;
  }

  .sidebar-close {
    margin-left: 40px;
  }

  .thumbnail-text {
    font-size: 32px;
  }

  .about-me-link, .project-link {
    margin-top: 80px;
    font-size: 28px;
  }

  .about {
    margin-top: 30px;
    margin-right: 10vw;
    margin-left: 10vw;
    font-size: 18px;
  }

  .about-page {
    margin-top: 20vh;
  }


.contact-title {
  margin-top: 15vh;
}

.contact-info {
  margin-top: 10vh;
  font-size: 28px;
}

.project-thumbnail {
  width: 70%;
}

.ProjectPage img {
  width: 70%
}

}

@media screen and (min-width: 1100px) {

  .screenshot {
    width: 50%;
  }

  article {
    margin-bottom: 200px;
  }

  p {
    margin-top: 60px;
  }

  nav, footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  h2 {
    font-size: 60px;
  }

  .intro {
    margin-top: 10vh;
  }

  .about {
    margin-right: 20vw;
    margin-left: 20vw;
    font-size: 24px;
  }
}
